{% extends "layout.html" %}
{% block content %}

<div>
  <p>File Uploaed</p>
  <a href="#" onclick="history.back(-1); return false;">戻る</a>
</div>

<div class="pages">
  {% for page in paper.pages %}
  <div class="page">
    <h2>page: {{loop.index0}}</h2>
    <div class="columns">
      <div class="column is-2">
        <div>
          <a target="_blank" rel="noopener noreferrer" href="{{page.image_path}}"><img src="/{{page.image_path}}"></a>
        </div>
      </div>
      <div class="column is-8">
        <div class="container text">
          {% for cluster in page.elements %}
          <div class="cluster">
            <p>{{cluster.full_text}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="column is-2">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}